hr {
    border: none;
    border-top: 1px solid #0000000d;
    margin: 0;
}

hr:first-child {
    display: none;
}

.app {
    margin: 1%;
    display: flex;
    flex-direction: column;
}

.orders {
    width: 60%;
    align-self: center;
    position: relative;
}

.card {
    border-radius: 22px;
    background-color: #f7f7f7;
    padding: 1em;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn {
    position: absolute;
    background-color: #47c135;
    padding: 10px 20px;
    top: 20px;
    right: 10px;
    border-radius: 12px;
    transform: scale(1);
    transition: all 0.5s ease;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}